.section_highlights {
  padding-top: 270px;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .section_highlights {
    padding-top: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .section_highlights {
    padding-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights {
    padding-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights {
    padding-top: 50px;
  }
}
.section_highlights-wrapper--content {
  position: relative;
}
.section_highlights-wrapper--content_top {
  display: flex;
  flex-direction: column;
  gap: 175px;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_top {
    gap: 100px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_top {
    gap: 50px;
  }
}
.section_highlights-wrapper--content_top-top--text {
  font-size: 36px;
  line-height: 110%;
  padding-left: 119px;
}
@media screen and (max-width: 1280px) {
  .section_highlights-wrapper--content_top-top--text {
    padding-left: 0px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_top-top--text {
    font-size: 27px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_top-top--text {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_top-top--text {
    font-size: 16px;
  }
}
.section_highlights-wrapper--content_top-top--text_title {
  display: flex;
  align-items: center;
  width: 237px;
}
.section_highlights-wrapper--content_top-top--text_desc {
  margin-top: 70px;
  min-height: 189px;
  height: 100%;
  width: 44%;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_top-top--text_desc {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_top-top--text_desc {
    margin-top: 30px;
    width: 98%;
  }
}
.section_highlights-wrapper--content_top-top--text_desc span {
  color: #f9f9f9;
  text-shadow: -1px 0 #2E3140, 0 1px #2E3140, 1px 0 #2E3140, 0 -1px #2E3140;
}
.section_highlights-wrapper--content_top-top--video {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 801px;
  border-radius: 6px;
}
.section_highlights-wrapper--content_top-top--video #my-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.section_highlights-wrapper--content_top-top--video .play-btn,
.section_highlights-wrapper--content_top-top--video .pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s ease;
}
.section_highlights-wrapper--content_top-top--video .play-btn {
  opacity: 1;
}
.section_highlights-wrapper--content_top-top--video .pause-btn {
  opacity: 0;
}
.section_highlights-wrapper--content_top-top--video:hover .play-btn {
  opacity: 1;
}
.section_highlights-wrapper--content_top-top--video:hover .pause-btn {
  opacity: 1;
}
.section_highlights-wrapper--content_top-top--video .play-btn.hidden {
  opacity: 0;
}
.section_highlights-wrapper--content_top-top--video .pause-btn.hidden {
  opacity: 0;
}
@media screen and (max-width: 878px) {
  .section_highlights-wrapper--content_top-top--video {
    height: 400px;
  }
  .section_highlights-wrapper--content_top-top--video .play-btn svg,
  .section_highlights-wrapper--content_top-top--video .pause-btn svg {
    width: 60%;
    height: 60%;
  }
}
.section_highlights-wrapper--content_top-top .video-js .vjs-tech {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section_highlights-wrapper--content_top-top .vjs-big-play-button {
  display: none;
}
.section_highlights-wrapper--content_top-top .vjs-control-bar {
  display: none !important;
}
.section_highlights-wrapper--content_top-bottom {
  display: flex;
  margin-left: 117px;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_top-bottom {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_top-bottom {
    flex-direction: column;
  }
}
.section_highlights-wrapper--content_top-bottom--desc {
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .section_highlights-wrapper--content_top-bottom--desc {
    padding-left: 0px;
  }
}
.section_highlights-wrapper--content_top-bottom--image {
  width: 100%;
  transform: translate(-90px, 140px);
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_top-bottom--image {
    transform: translate(-50px, 100px);
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_top-bottom--image {
    transform: translate(0px, 160px);
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_top-bottom--image {
    transform: translate(0px, 100px);
  }
}
.section_highlights-wrapper--content_top-bottom--image img {
  width: -webkit-fill-available;
}
.section_highlights-wrapper--content_tape {
  background: #DEDEDE;
  height: 280px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_tape {
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_tape {
    height: 150px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_tape {
    height: 100px;
    margin-top: 70px;
  }
}
.section_highlights-wrapper--content_tape-content {
  position: relative;
}
.section_highlights-wrapper--content_tape-content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_tape-content--text {
    padding-left: 0px;
  }
}
.section_highlights-wrapper--content_tape-content--text .title {
  width: 45%;
  color: #111;
}
@media screen and (max-width: 1280px) {
  .section_highlights-wrapper--content_tape-content--text .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_tape-content--text .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_tape-content--text .title {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_tape-content--text .title {
    font-size: 15px;
  }
}
.section_highlights-wrapper--content_tape-content--text .title span {
  color: #DEDEDE;
  text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_tape-content--text {
    padding-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_tape-content--text {
    padding-top: 10px;
  }
}
.section_highlights-wrapper--content_tape-content--image {
  position: absolute;
  top: 0px;
  right: 0;
}
.section_highlights-wrapper--content_tape-content--image_wrapper {
  position: relative;
  overflow: hidden;
  width: 634px;
  height: 418px;
}
@media screen and (max-width: 1024px) {
  .section_highlights-wrapper--content_tape-content--image_wrapper {
    width: 477px;
    height: 336px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content_tape-content--image_wrapper {
    width: 350px;
    height: 216px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content_tape-content--image_wrapper {
    width: 201px;
    height: 227px;
  }
}
.section_highlights-wrapper--content_tape-content--image_wrapper-img {
  position: absolute;
  top: 0;
  right: 0;
}
.section_highlights-wrapper--content_tape-content--image_wrapper-img img {
  width: 100%;
}

/*# sourceMappingURL=highlights.module.css.map */
