.section_mobile {
  padding-top: 410px;
  background: #050505;
  color: #FFF;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_mobile {
    padding-top: 240px;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile {
    padding-top: 150px;
  }
}
.section_mobile-wrapper .svg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper .svg {
    top: 35%;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper .svg {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper .svg svg {
    height: 75vh;
  }
}
.section_mobile-wrapper--content {
  min-height: 150vh;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content {
    min-height: 100vh;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content {
    min-height: 75vh;
  }
}
.section_mobile-wrapper--content_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150vh;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_text {
    min-height: 100vh;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_text {
    min-height: 75vh;
  }
}
.section_mobile-wrapper--content_text-title {
  display: flex;
  align-items: center;
}
.section_mobile-wrapper--content_text-title .title {
  width: 237px;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_text-title {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_text-title {
    width: 100%;
  }
}
.section_mobile-wrapper--content_text-top {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.section_mobile-wrapper--content_text-top .desc {
  width: 28%;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_text-top .desc {
    width: 100%;
  }
}
.section_mobile-wrapper--content_text-bottom .desc {
  min-height: 191px;
  height: 100%;
  width: 38%;
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_text-bottom .desc {
    width: 100%;
  }
}
.section_mobile-wrapper--content_text .text-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_text .text-svg svg {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_text .text-svg svg {
    width: 60%;
  }
}
.section_mobile-wrapper--content_image {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_image {
    top: 45%;
  }
}
.section_mobile-wrapper--content_image img {
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_image img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_image img {
    width: 90%;
  }
}
.section_mobile-wrapper--image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.section_mobile-wrapper--image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*# sourceMappingURL=mobile.module.css.map */
