.section_overview {
  position: relative;
}
.section_overview-wrapper .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper .svg {
    display: none;
  }
}
.section_overview-wrapper--image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.section_overview-wrapper--image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.section_overview-wrapper--content {
  padding-top: 319px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .section_overview-wrapper--content {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content {
    gap: 35px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content {
    padding-top: 220px;
    gap: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content {
    padding-top: 150px;
  }
}
.section_overview-wrapper--content_card {
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_card {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_card {
    width: 100%;
  }
}
.section_overview-wrapper--content_card .text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_card .text {
    gap: 25px;
  }
}
.section_overview-wrapper--content_card .text .title {
  text-transform: none;
}
.section_overview-wrapper--content_card.middle {
  margin-left: auto;
}
.section_overview-wrapper--content_bottom-btn {
  display: flex;
  padding-top: 144px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-btn {
    padding-top: 80px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-btn {
    padding-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-btn {
    padding-top: 30px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-btn img {
    width: 70%;
  }
}
.section_overview-wrapper--content_bottom-icons {
  display: flex;
  gap: 128px;
  width: 75%;
  margin: 69px auto;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-icons {
    width: 90%;
    gap: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons {
    width: 95%;
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-icons {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }
}
.section_overview-wrapper--content_bottom-icons .icon {
  width: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons .icon {
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-icons .icon {
    gap: 25px;
  }
}
.section_overview-wrapper--content_bottom-icons .icon .icon-svg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section_overview-wrapper--content_bottom-icons .icon .icon-text {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section_overview-wrapper--content_bottom-icons .icon .icon-text .desc {
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons .icon .icon-text .desc {
    font-size: 15px;
  }
}
.section_overview-wrapper--content_tape {
  background: #DEDEDE;
  height: 280px;
  display: flex;
  margin-top: 105px;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_tape {
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_tape {
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_tape {
    height: 100px;
    margin-top: 50px;
  }
}
.section_overview-wrapper--content_tape-content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_tape-content--text {
    padding-left: 0px;
  }
}
.section_overview-wrapper--content_tape-content--text .title {
  width: 40%;
  color: #111;
}
@media screen and (max-width: 1280px) {
  .section_overview-wrapper--content_tape-content--text .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_tape-content--text .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_tape-content--text .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_tape-content--text .title {
    font-size: 15px;
  }
}
.section_overview-wrapper--content_tape-content--text .title span {
  color: #DEDEDE;
  text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_tape-content--text {
    padding-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_tape-content--text {
    padding-top: 10px;
  }
}
.section_overview-wrapper--content_tape-content--image {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.section_overview-wrapper--content_tape-content--image_wrapper {
  position: relative;
  width: 566px;
  height: 379px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_tape-content--image_wrapper {
    width: 466px;
    height: 279px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_tape-content--image_wrapper {
    width: 406px;
    height: 269px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_tape-content--image_wrapper {
    width: 260px;
    height: 170px;
  }
}
.section_overview-wrapper--content_tape-content--image_wrapper-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.section_overview-wrapper--content_tape-content--image_wrapper-img img {
  width: 100%;
}

/*# sourceMappingURL=overview.module.css.map */
