.section_mobile {
    padding-top: 410px;
    background: #050505;
    color: #FFF;
    position: relative;

    @media screen and (max-width:1280px) {
        padding-top: 270px;
    }

    @media screen and (max-width:480px) {
        padding-top: 150px;
    }

    &-wrapper {
        position: relative;

        @media screen and (max-width:768px) {
            padding: 0px !important;
        }

        .svg {
            position: absolute;
            top: -10%;
            left: 50%;
            height: auto;
            width: auto;

            @media screen and (max-width:768px) {
                display: none;
            }

            svg {
                @media screen and (max-width:1280px) {
                    height: 125vh;
                }

                @media screen and (max-width:1024px) {
                    height: 65vh;
                }
            }
        }

        &--content {
            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: column;
                gap: 50px;
            }

            &_text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 165vh;
                height: 100%;
                position: relative;

                @media screen and (min-width: 2560px) {
                    min-height: 125vh;
                }

                @media screen and (max-width:1440px) {
                    min-height: 200vh;
                }

                @media screen and (max-width:1280px) {
                    min-height: 220vh;
                }

                @media screen and (max-width:1024px) {
                    min-height: 100vh;
                }

                @media screen and (max-width:768px) {
                    min-height: unset;
                    position: unset;
                }

                &-title {
                    display: flex;
                    align-items: center;

                    .title {
                        width: 237px;
                    }


                    @media screen and (max-width:1024px) {
                        width: 95%;
                    }

                    @media screen and (max-width:768px) {
                        width: 100%;
                    }
                }

                &-top {
                    display: flex;
                    flex-direction: column;
                    gap: 38px;

                    .desc {
                        width: 28%;

                        @media screen and (max-width:768px) {
                            width: 100%;
                        }
                    }
                }

                &-bottom {
                    .desc {
                        min-height: 191px;
                        height: 100%;
                        width: 38%;

                        @media screen and (max-width:480px) {
                            width: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .text-svg {
                    position: absolute;
                    bottom: -200px;
                    left: 0;

                    @media screen and (max-width:768px) {
                        bottom: -20px;
                        left: 50px;
                    }

                    svg {
                        @media screen and (max-width:768px) {
                            width: 90%;
                        }

                        @media screen and (max-width:480px) {
                            width: 60%;
                            height: 100%;
                        }
                    }
                }
            }

            &_image {
                position: absolute;
                top: 0%;
                left: 20%;
                z-index: 1;

                @media screen and (max-width:768px) {
                    position: unset;
                    transform: unset;
                }

                @media screen and (max-width:480px) {
                    top: 55%;
                }

                img {
                    z-index: 1;

                    @media screen and (max-width:1280px) {
                        width: 100%;
                    }

                    @media screen and (max-width:1024px) {
                        width: 90%;
                    }
                }
            }

            &_tape {
                background: #DEDEDE;
                height: 280px;
                display: flex;

                @media screen and (max-width: 1024px) {
                    height: 220px;
                }

                @media screen and (max-width: 768px) {
                    height: 150px;
                }

                @media screen and (max-width: 480px) {
                    height: 100px;
                }

                &-content {
                    position: relative;

                    &--text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        height: 100%;

                        @media screen and (max-width:768px) {
                            padding-left: 0px;
                            align-items: flex-end;
                        }

                        .title {
                            width: 45%;
                            color: #111;

                            @media screen and (max-width: 1280px) {
                                font-size: 35px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 30px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 22px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 15px;
                            }

                            span {
                                color: #DEDEDE;
                                text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
                            }
                        }

                        @media screen and (max-width:1024px) {
                            padding-top: 20px;
                        }

                        @media screen and (max-width:480px) {
                            padding-top: 10px;
                        }
                    }

                    &--image {
                        position: absolute;
                        bottom: -80px;
                        left: 0;

                        &_wrapper {
                            position: relative;
                            overflow: hidden;
                            width: 643px;
                            height: 429px;

                            @media screen and (max-width:1280px) {
                                width: 593px;
                            }

                            @media screen and (max-width:1024px) {
                                width: 430px;
                                height: 336px;
                            }

                            @media screen and (max-width:768px) {
                                width: 350px;
                                height: 280px;
                            }

                            @media screen and (max-width:480px) {
                                width: 200px;
                                height: 200px;
                            }

                            &-img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 100%;

                                img {
                                    width: 100%;
                                }
                            }

                        }
                    }
                }
            }
        }

        &--image {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }


}